@font-face {
  font-family: "LemonMilkbold";
  src: url("../fonts/LemonMilkbold.otf") format("opentype");
}
@font-face {
  font-family: "Peace Sans", sans-serif;
  src: url("../fonts/peace_sans.otf") format("opentype");
}
@font-face {
  font-family: "Pump Demi";
  src: url("../fonts/PumpDemiBoldLetPlain.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  margin: 0;
}

.container {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.sections-title {
  font-family: "Peace Sans", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

figcaption {
  bottom: 20px;
  left: 30px;
  position: absolute;
  -webkit-transform: skew(25.5deg, 0);
          transform: skew(25.5deg, 0);
  width: 100%;
}

header {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
  position: relative;
}
@media screen and (min-width: 768px) {
  header {
    height: 820px;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 700px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 890px;
  }
}

.logo {
  color: #fff;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  left: 10px;
  line-height: 2.6rem;
  position: absolute;
  top: 10px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    font-size: 4.3rem;
    left: 30px;
    line-height: 4.3rem;
    top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    left: 65px;
  }
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 21px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .nav-menu {
    position: absolute;
    right: 30px;
    top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu {
    right: 65px;
  }
}

.menu-list-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .menu-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
}

.menu-list-wrapper.mobile {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  position: absolute;
}
.menu-list-wrapper.mobile .menu-item {
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}
.menu-list-wrapper.mobile .menu-item-anchor {
  color: #171717;
  font-size: 2.5rem;
}
.menu-list-wrapper.mobile .menu-item-anchor:hover {
  border-bottom: solid 2px #171717;
}

.menu-item {
  list-style-type: none;
  margin-right: 25px;
}

.menu-item-anchor {
  border-bottom: solid 1px transparent;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.menu-item-anchor::after {
  border-bottom: 1px solid transparent;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 100%;
}
.menu-item-anchor:hover::after {
  border-color: #fff;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.search-input {
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  height: 20px;
  margin-right: 10px;
  margin-top: 12px;
  max-width: 170px;
  padding: 0;
  width: 0;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .search-input {
    margin-top: 0;
  }
}

.searchOn {
  width: 12vw;
}

.search-icon {
  color: #fff;
  font-size: 2.1rem;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 12px;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .search-icon {
    margin: 0;
  }
}

.facebook-icon {
  color: #fff;
  font-size: 2.1rem;
  margin-right: 25px;
  margin-top: 12px;
  opacity: 1;
  text-decoration: none;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .facebook-icon {
    margin: 0 0 0 25px;
  }
}

.hamburger-menu {
  margin: 10px 10px 0 0;
  width: 30px;
  z-index: 1;
}
.hamburger-menu span {
  background: #fff;
  border-radius: 3px;
  display: block;
  height: 6px;
  margin-bottom: 4px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 30px;
}
.hamburger-menu span:last-child {
  margin-bottom: 0;
}
.hamburger-menu:hover {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }
}

span.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

span.rotateAndMove {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

span.none {
  opacity: 0;
  width: 0;
}

.title-shadow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .title-shadow {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 30px;
  }
}
.title-shadow .title {
  font-family: "LemonMilkbold";
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 6.3rem;
  letter-spacing: 1px;
  line-height: 5.3rem;
  margin: 250px 0 0 0;
  text-shadow: 0 0 24px black;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .title-shadow .title {
    font-size: 9.5rem;
    line-height: 8.5rem;
  }
}
@media screen and (min-width: 768px) {
  .title-shadow .title {
    font-size: 14rem;
    line-height: 12.5rem;
    margin: 300px 0 0 0;
  }
}
@media screen and (min-width: 992px) {
  .title-shadow .title {
    font-size: 12rem;
    line-height: 10rem;
    margin: 50px 0 0 0;
    width: 61%;
  }
}
@media screen and (min-width: 1200px) {
  .title-shadow .title {
    font-size: 16rem;
    line-height: 13.5rem;
    margin: -50px 0 0 0;
    width: 71%;
  }
}
.title-shadow .subtitle {
  display: block;
  font-family: "LemonMilkbold";
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 3.8rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
  margin-top: 3px;
  text-align: center;
  text-shadow: 0 0 24px black;
}
@media screen and (min-width: 480px) {
  .title-shadow .subtitle {
    font-size: 5.7rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 768px) {
  .title-shadow .subtitle {
    font-size: 8.5rem;
    line-height: 7rem;
  }
}
@media screen and (min-width: 992px) {
  .title-shadow .subtitle {
    font-size: 7.3rem;
    line-height: 6rem;
    width: 61%;
  }
}
@media screen and (min-width: 1200px) {
  .title-shadow .subtitle {
    font-size: 9.6rem;
    line-height: 8.3rem;
    width: 71%;
  }
}

.bg-gray {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/background_gray.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 992px) {
  .bg-gray {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 30px;
  }
}
.bg-gray .title {
  font-family: "LemonMilkbold";
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 6.3rem;
  letter-spacing: 1px;
  line-height: 5.3rem;
  margin: 250px 0 0 0;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .bg-gray .title {
    font-size: 9.5rem;
    line-height: 8.5rem;
  }
}
@media screen and (min-width: 768px) {
  .bg-gray .title {
    font-size: 14rem;
    line-height: 12.5rem;
    margin: 300px 0 0 0;
  }
}
@media screen and (min-width: 992px) {
  .bg-gray .title {
    font-size: 12rem;
    line-height: 10rem;
    margin: 50px 0 0 0;
    width: 61%;
  }
}
@media screen and (min-width: 1200px) {
  .bg-gray .title {
    font-size: 16rem;
    line-height: 13.5rem;
    margin: -50px 0 0 0;
    width: 71%;
  }
}
.bg-gray .subtitle {
  display: block;
  font-family: "LemonMilkbold";
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.8rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
  margin-top: 3px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .bg-gray .subtitle {
    font-size: 5.7rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 768px) {
  .bg-gray .subtitle {
    font-size: 8.5rem;
    line-height: 7rem;
  }
}
@media screen and (min-width: 992px) {
  .bg-gray .subtitle {
    font-size: 7.3rem;
    line-height: 6rem;
    width: 61%;
  }
}
@media screen and (min-width: 1200px) {
  .bg-gray .subtitle {
    font-size: 9.6rem;
    line-height: 8.3rem;
    width: 71%;
  }
}

@media screen and (min-width: 992px) {
  .button-wrapper {
    bottom: 65px;
    margin: 0;
    padding: 0 0 0 30px;
    position: absolute;
    text-align: center;
    width: 60.3%;
  }
}
@media screen and (min-width: 1200px) {
  .button-wrapper {
    bottom: 185px;
    width: 70%;
  }
}

.btn-read-more {
  background-color: #fff;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  bottom: 80px;
  -webkit-box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
  color: #171717;
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
  font-weight: 900;
  height: 54px;
  left: 0;
  padding-right: 25px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: right;
  text-transform: uppercase;
  width: 93%;
}
.btn-read-more:hover, .btn-read-more:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #bc2e3a;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .btn-read-more {
    border-radius: 30px;
    bottom: 50px;
    left: 50%;
    padding: 0;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 192px;
  }
}
@media screen and (min-width: 768px) {
  .btn-read-more {
    bottom: 25px;
  }
}
@media screen and (min-width: 992px) {
  .btn-read-more {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.model-light {
  background-blend-mode: color-dodge;
}

.model-image {
  position: absolute;
  height: 315px;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 480px) {
  .model-image {
    height: 360px;
    top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .model-image {
    height: 400px;
    top: 15px;
  }
}
@media screen and (min-width: 992px) {
  .model-image {
    height: 75.5%;
    left: 75%;
    top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .model-image {
    height: 110%;
    left: 45%;
    top: 30px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.who-we-are {
  background-color: #171717;
  padding: 25px 20px 35px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .who-we-are {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are {
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .who-we-are-grid-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px 30px;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are-grid-wrapper {
    display: grid;
    grid-row-gap: 65px;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 30px 80px;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .who-we-are-grid-wrapper {
    grid-template-columns: 1fr 1.3fr;
    padding: 100px 150px 100px 200px;
  }
}
.who-we-are-grid-wrapper .sections-title {
  color: #9f9f9f;
}
@media screen and (min-width: 480px) {
  .who-we-are-grid-wrapper .sections-title {
    font-size: 5.5rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are-grid-wrapper .sections-title {
    color: #494949;
    grid-row: 1 / 2;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .who-we-are-grid-wrapper .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
  }
}
.who-we-are-grid-wrapper .description {
  color: #fff;
  margin: 20px 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .who-we-are-grid-wrapper .description {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .who-we-are-grid-wrapper .description {
    margin: 30px auto;
    max-width: 750px;
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are-grid-wrapper .description {
    color: #6a6a6a;
    font-size: 1.7rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    line-height: 3rem;
    margin: 0 0 0 20px;
    text-align: left;
  }
}
.who-we-are-grid-wrapper .macbook {
  display: block;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .who-we-are-grid-wrapper .macbook {
    margin: 0 auto;
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .who-we-are-grid-wrapper .macbook {
    margin-bottom: 10px;
    max-width: 700px;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are-grid-wrapper .macbook {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    position: absolute;
    top: 60px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .who-we-are-grid-wrapper .macbook {
    -ms-flex-item-align: start;
        align-self: start;
    grid-row: 1 / 4;
    margin: 0;
    position: static;
  }
}
.who-we-are-grid-wrapper .btn-read-more {
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  height: 54px;
  text-transform: uppercase;
  width: 192px;
  background-color: #bc2e3a;
  bottom: -27px;
  color: white;
  left: 50%;
  padding: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.who-we-are-grid-wrapper .btn-read-more:hover {
  background-color: #494949;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .who-we-are-grid-wrapper .btn-read-more {
    margin: 0 auto;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 992px) {
  .who-we-are-grid-wrapper .btn-read-more {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .black-triangle {
    display: block;
    height: 0;
    border-bottom: 1005px solid transparent;
    border-left: 1005px solid transparent;
    border-right: 1005px solid transparent;
    border-top: 1005px solid #171717;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -346px;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .black-triangle {
    left: 210px;
    right: auto;
  }
}

.what-we-do {
  background-color: #fff;
  padding: 75px 0 30px 0;
}
@media screen and (min-width: 768px) {
  .what-we-do {
    padding: 30px 0;
  }
}
@media screen and (min-width: 992px) {
  .what-we-do {
    padding: 130px 132px 120px;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    padding: 95px 11% 120px;
  }
}
.what-we-do .sections-title {
  color: #494949;
}
@media screen and (min-width: 480px) {
  .what-we-do .sections-title {
    font-size: 5.5rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
  }
}
.what-we-do .description {
  color: #6a6a6a;
  margin: 20px 0 40px 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .what-we-do .description {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 20px auto 40px;
    max-width: 600px;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do .description {
    font-size: 1.7rem;
    grid-column: 2;
    line-height: 3rem;
    margin: 0;
    text-align: left;
    width: 100%;
  }
}

.what-we-do-container {
  margin-top: 30px;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .what-we-do-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .what-we-do-container {
    margin-top: 85px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do-container {
    grid-gap: 65px 20px;
    grid-template-columns: repeat(3, minmax(320px, 450px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .what-we-do-red-triangle {
    background-color: #bc2e3a;
    height: 242px;
    left: -189px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-20%) rotate(45deg);
            transform: translateY(-20%) rotate(45deg);
    width: 242px;
  }
}
@media screen and (min-width: 992px) {
  .what-we-do-red-triangle {
    -webkit-transform: translateY(-40%) rotate(45deg);
            transform: translateY(-40%) rotate(45deg);
  }
}

.what-we-do-icons {
  display: block;
  margin: 0 auto;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .what-we-do-icons {
    grid-column: 2;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do-icons {
    grid-column: 1 / 2;
    width: 75px;
  }
}

.what-we-do-description-wrapper {
  width: 100%;
}
.what-we-do-description-wrapper:last-child .description {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .what-we-do-description-wrapper {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 75px auto;
  }
}

.what-we-do-description-title {
  color: #6f6f6e;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2rem;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .what-we-do-description-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do-description-title {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0;
    text-align: left;
  }
}

.how-we-works {
  background-color: #bc2e3a;
  padding: 30px 10px 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-we-works {
    padding: 30px 10px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-works {
    background-color: #fff;
    padding: 0 0 0 55px;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works {
    background-color: transparent;
    padding: 80px 0 0 65px;
    z-index: 1;
  }
}
.how-we-works .sections-title {
  color: #fff;
}
@media screen and (min-width: 480px) {
  .how-we-works .sections-title {
    font-size: 5.5rem;
    line-height: 4.7rem;
  }
}
@media screen and (min-width: 992px) {
  .how-we-works .sections-title {
    color: #494949;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
    text-align: left;
  }
}
.how-we-works .description {
  color: #fff;
  grid-column: 1 / -1;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .how-we-works .description {
    font-size: 1.6rem;
    line-height: 2rem;
    width: 95%;
  }
}
@media screen and (min-width: 768px) {
  .how-we-works .description {
    max-width: 740px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-works .description {
    color: #494949;
    grid-column: 1 / 2;
    font-size: 1.7rem;
    line-height: 3rem;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
  }
}
.how-we-works .btn-read-more {
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
  font-weight: 700;
  height: 54px;
  text-transform: uppercase;
  width: 192px;
  background-color: #171717;
  bottom: -27px;
  color: white;
  left: 50%;
  padding: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.how-we-works .btn-read-more:hover {
  background-color: #494949;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .how-we-works .btn-read-more {
    grid-column: 1 / -1;
    margin: 0 auto;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 992px) {
  .how-we-works .btn-read-more {
    background-color: #bc2e3a;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works .btn-read-more {
    grid-column: 1 / 2;
    justify-self: start;
    margin: 0;
  }
}

.how-we-works-container {
  display: grid;
  grid-column-gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .how-we-works-container {
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-works-container {
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: minmax(250px, 350px) repeat(3, 210px);
    margin-top: 0;
    padding-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-container {
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    grid-template-columns: minmax(250px, 350px) repeat(3, 315px);
  }
}

.how-we-works-picture1,
.how-we-works-picture2,
.how-we-works-picture3 {
  -webkit-box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 11px 40px rgba(0, 0, 0, 0.2);
  height: 195px;
  margin: 0 0 40px 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: skew(-25.5deg, 0);
          transform: skew(-25.5deg, 0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 210px;
}
@media screen and (min-width: 992px) {
  .how-we-works-picture1,
  .how-we-works-picture2,
  .how-we-works-picture3 {
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture1,
  .how-we-works-picture2,
  .how-we-works-picture3 {
    grid-row: 1 / 3;
    height: 295px;
    width: 315px;
  }
}

.how-we-works-picture1 {
  background-color: #424240;
  margin-right: 90px;
}
@media screen and (min-width: 480px) {
  .how-we-works-picture1 figcaption {
    left: 40px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-works-picture1 {
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture1 {
    grid-column: 2 / 3;
    margin-left: -150px;
  }
}
.how-we-works-picture1 .description {
  color: #fff;
  left: 45px;
  margin: 0;
  bottom: 10%;
  text-align: left;
  width: 70%;
}
@media screen and (min-width: 992px) {
  .how-we-works-picture1 .description {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture1 .description {
    font-size: 1.8em;
    line-height: 3rem;
  }
}

.how-we-works-picture2 {
  margin-left: 90px;
  -webkit-transform: skew(25.5deg, 0);
          transform: skew(25.5deg, 0);
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 {
    margin: 10px 0 0 0;
    -webkit-transform: skew(-25.5deg, 0);
            transform: skew(-25.5deg, 0);
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture2 {
    grid-column: 3 / 4;
    margin-left: -150px;
  }
}
.how-we-works-picture2 .pic2 {
  -webkit-transform: skew(-25.5deg, 0);
          transform: skew(-25.5deg, 0);
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 .pic2 {
    -webkit-transform: skew(25.5deg, 0);
            transform: skew(25.5deg, 0);
  }
}
.how-we-works-picture2 .how-we-works-picture-number {
  left: 20px;
  -webkit-transform: skew(-25.5deg, 0);
          transform: skew(-25.5deg, 0);
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 .how-we-works-picture-number {
    text-align: right;
    -webkit-transform: skew(25.5deg, 0);
            transform: skew(25.5deg, 0);
  }
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 .how-we-works-picture-number {
    text-align: right;
  }
}
.how-we-works-picture2 figcaption {
  -webkit-transform: skew(-25.5deg, 0);
          transform: skew(-25.5deg, 0);
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 figcaption {
    -webkit-transform: skew(25.5deg, 0);
            transform: skew(25.5deg, 0);
  }
}
.how-we-works-picture2 figcaption .how-we-works-picture-title-bottom {
  margin-right: 30px;
  text-align: right;
}
@media screen and (min-width: 992px) {
  .how-we-works-picture2 figcaption .how-we-works-picture-title-bottom {
    text-align: left;
  }
}

.how-we-works-picture3 {
  grid-column: 1 / -1;
  margin-left: -90px;
}
@media screen and (min-width: 992px) {
  .how-we-works-picture3 {
    grid-column: 4 / 5;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture3 {
    grid-column: 4 / 5;
    margin-left: -150px;
  }
}

.how-we-works-picture2,
.how-we-works-picture3 {
  background-color: #000;
}
.how-we-works-picture2 figcaption,
.how-we-works-picture3 figcaption {
  bottom: 10px;
  left: 15px;
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture2 figcaption,
  .how-we-works-picture3 figcaption {
    bottom: 15px;
    left: 25px;
  }
}

.pic1, .pic2, .pic3 {
  position: absolute;
  -webkit-transform: skew(25.5deg, 0);
          transform: skew(25.5deg, 0);
  z-index: -1;
}

.pic1 {
  left: -105px;
  opacity: .3;
  top: -20px;
  width: 450px;
}
@media screen and (min-width: 1200px) {
  .pic1 {
    left: -190px;
    width: 678px;
  }
}

.pic2 {
  left: -72px;
  opacity: .6;
  top: -20px;
  width: 450px;
}

.pic3 {
  left: -128px;
  opacity: .6;
  top: -5px;
  width: 450px;
}
@media screen and (min-width: 1200px) {
  .pic3 {
    width: 530px;
  }
}

.how-we-works-picture-number {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  position: absolute;
  right: 20px;
  top: 5px;
  -webkit-transform: skew(25.5deg, 0);
          transform: skew(25.5deg, 0);
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture-number {
    font-size: 5.8rem;
  }
}

.how-we-works-picture1 {
  position: relative;
}

.how-we-works-picture-title-middle,
.how-we-works-picture-title-bottom {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
@media screen and (min-width: 1200px) {
  .how-we-works-picture-title-middle,
  .how-we-works-picture-title-bottom {
    font-size: 4rem;
  }
}

.how-we-works-picture-title-middle {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .how-we-works-triangle {
    background-color: #bc2e3a;
    height: 840px;
    left: 78%;
    position: absolute;
    right: auto;
    top: -50px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 840px;
    z-index: -1;
  }
}

.our-creative-team {
  padding-top: 75px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .our-creative-team {
    background-color: #fff;
    padding: 30px 0;
  }
}
@media screen and (min-width: 992px) {
  .our-creative-team {
    padding: 200px 0 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-creative-team {
    padding: 315px 0 105px 0;
  }
}
.our-creative-team .sections-title {
  color: #494949;
  line-height: 4rem;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .our-creative-team .sections-title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .our-creative-team .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
  }
}

@media screen and (min-width: 992px) {
  .our-creative-team-big-triangle {
    background-color: #171717;
    height: 305px;
    left: -152px;
    position: absolute;
    top: -45px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 305px;
  }
}
@media screen and (min-width: 1200px) {
  .our-creative-team-big-triangle {
    top: 55px;
  }
}

.slider-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px 0;
}
@media screen and (min-width: 768px) {
  .slider-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .slider-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 55px 0;
  }
}

.slider-left-or-top-arrow {
  padding: 0;
  height: 0;
  border-bottom: 35px solid #424240;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid transparent;
  cursor: pointer;
  margin-bottom: 35px;
}
@media screen and (min-width: 480px) {
  .slider-left-or-top-arrow {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .slider-left-or-top-arrow {
    border-bottom: 35px solid transparent;
    border-left: 35px solid transparent;
    border-right: 35px solid #424240;
    border-top: 35px solid transparent;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .slider-left-or-top-arrow {
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid #424240;
    border-top: 50px solid transparent;
    margin-left: -50px;
  }
}

.slider-pictures-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .slider-pictures-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px 0;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .slider-pictures-container {
    margin: 90px 0;
    max-width: 1200px;
  }
}

.slider-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.less-opacity {
  opacity: .7;
  z-index: -1;
}

.picture-wrapper {
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -5px -5px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -5px -5px 40px rgba(0, 0, 0, 0.2);
  border: 18px solid #fff;
  height: 145px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 145px;
}
@media screen and (min-width: 480px) {
  .picture-wrapper {
    height: 215px;
    width: 215px;
  }
}
@media screen and (min-width: 768px) {
  .picture-wrapper {
    height: 145px;
    width: 145px;
  }
}
@media screen and (min-width: 1200px) {
  .picture-wrapper {
    height: 245px;
    width: 245px;
  }
}

.big-wrapper {
  height: 200px;
  width: 200px;
}
@media screen and (min-width: 480px) {
  .big-wrapper {
    height: 315px;
    width: 315px;
  }
}
@media screen and (min-width: 768px) {
  .big-wrapper {
    height: 200px;
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .big-wrapper {
    height: 355px;
    width: 355px;
  }
}

.picture {
  left: -40px;
  position: absolute;
  top: -40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 180%;
}
@media screen and (min-width: 480px) {
  .picture {
    left: -50px;
    top: -50px;
    width: 160%;
  }
}
@media screen and (min-width: 768px) {
  .picture {
    left: -35px;
    top: -35px;
  }
}
@media screen and (min-width: 1200px) {
  .picture {
    left: -35px;
    top: -35px;
  }
}
@media screen and (min-width: 1200px) {
  .picture {
    left: -49px;
    top: -47px;
  }
}

.big-picture {
  height: 145%;
  width: 145%;
}
@media screen and (min-width: 480px) {
  .big-picture {
    left: -60px;
    top: -60px;
  }
}
@media screen and (min-width: 768px) {
  .big-picture {
    left: -50px;
    top: -50px;
  }
}
@media screen and (min-width: 1200px) {
  .big-picture {
    left: -75px;
  }
}

.slider-picture-name-box {
  background-color: #252525;
  display: none;
  height: 40px;
  margin: 0 auto;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .slider-picture-name-box {
    bottom: -25px;
    display: block;
    left: 20px;
    position: absolute;
  }
}

.slider-picture-name-box.big-box {
  display: block;
}

.big-box {
  bottom: -24px;
  height: 30px;
  left: 50%;
  position: absolute;
  -webkit-transform: skew(45deg) translateX(-50%);
          transform: skew(45deg) translateX(-50%);
  width: 145px;
}
@media screen and (min-width: 480px) {
  .big-box {
    bottom: -39px;
    height: 45px;
    width: 230px;
  }
}
@media screen and (min-width: 768px) {
  .big-box {
    bottom: -24px;
    height: 30px;
    width: 145px;
  }
}
@media screen and (min-width: 1200px) {
  .big-box {
    bottom: -49px;
    height: 45px;
    width: 230px;
  }
}

.slider-picture-name {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.big-name {
  font-size: 1.8rem;
  line-height: 3rem;
}
@media screen and (min-width: 480px) {
  .big-name {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .big-name {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .big-name {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

.slider-picture-job-box {
  bottom: -42px;
  height: 20px;
  background-color: #bc2e3a;
  left: 65px;
  position: absolute;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  width: 100px;
}
@media screen and (min-width: 480px) {
  .slider-picture-job-box {
    bottom: -65px;
    height: 30px;
    left: 100px;
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .slider-picture-job-box {
    bottom: -42px;
    height: 20px;
    left: 65px;
    width: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-picture-job-box {
    bottom: -75px;
    height: 30px;
    left: 125px;
    width: 150px;
  }
}

.slider-picture-job {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
  line-height: 1.8rem;
  text-align: center;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}
@media screen and (min-width: 480px) {
  .slider-picture-job {
    font-size: 2.4rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .slider-picture-job {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .slider-picture-job {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}

.slider-right-or-bottom-arrow {
  padding: 0;
  height: 0;
  border-bottom: 35px solid transparent;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #424240;
  cursor: pointer;
  margin-top: 35px;
}
@media screen and (min-width: 480px) {
  .slider-right-or-bottom-arrow {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .slider-right-or-bottom-arrow {
    border-bottom: 35px solid transparent;
    border-left: 35px solid #424240;
    border-right: 35px solid transparent;
    border-top: 35px solid transparent;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .slider-right-or-bottom-arrow {
    border-bottom: 50px solid transparent;
    border-left: 50px solid #424240;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    margin-right: -50px;
  }
}

.what-client-says {
  background-color: #bc2e3a;
  padding: 25px 20px 70px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .what-client-says {
    background-color: transparent;
    padding: 25px 70px 70px;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says {
    background-color: transparent;
    padding: 20px 100px 120px 150px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says {
    background-color: transparent;
    padding: 100px 100px 170px 220px;
  }
}

@media screen and (min-width: 768px) {
  .what-client-says-red-triangle {
    background-color: #bc2e3a;
    height: 685px;
    left: -550px;
    position: absolute;
    top: -37px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 685px;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-red-triangle {
    top: -23px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-red-triangle {
    left: -345px;
    top: 77px;
    z-index: 1;
  }
}

.what-client-says-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .what-client-says-wrapper {
    max-width: 700px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-wrapper {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-wrapper {
    justify-items: start;
    max-width: 1115px;
    z-index: 1;
  }
}
.what-client-says-wrapper .sections-title {
  color: #fff;
  grid-column: 1 / -1;
  line-height: 4rem;
}
@media screen and (min-width: 480px) {
  .what-client-says-wrapper .sections-title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .what-client-says-wrapper .sections-title {
    color: #494949;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-wrapper .sections-title {
    grid-row: 1 / 2;
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-wrapper .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
    text-align: left;
  }
}

.what-client-says-picture-wrapper {
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -5px -5px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -5px -5px 40px rgba(0, 0, 0, 0.2);
  border: 18px solid #fff;
  grid-column: 1 / -1;
  height: 180px;
  margin: 80px 0 60px 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 180px;
}
@media screen and (min-width: 480px) {
  .what-client-says-picture-wrapper {
    height: 250px;
    margin: 100px 0 90px 0;
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-picture-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-picture-wrapper {
    height: 295px;
    margin: 0;
    width: 295px;
  }
}

.what-client-says-big-picture {
  grid-column: 1 / -1;
  height: 220px;
  left: -40px;
  position: absolute;
  top: -40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 220px;
}
@media screen and (min-width: 480px) {
  .what-client-says-big-picture {
    height: 310px;
    left: -45px;
    top: -45px;
    width: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-big-picture {
    height: 365px;
    left: -53px;
    top: -53px;
    width: 365px;
  }
}

.cite-sign {
  color: #171717;
  grid-column: 1 / 2;
  font-family: "Pump Demi";
  font-size: 10rem;
  height: 50px;
  line-height: 8rem;
  margin-left: -5px;
}
@media screen and (min-width: 480px) {
  .cite-sign {
    font-size: 15rem;
    line-height: 11.7rem;
    margin-left: -10px;
  }
}
@media screen and (min-width: 768px) {
  .cite-sign {
    color: #6a6a6a;
  }
}
@media screen and (min-width: 992px) {
  .cite-sign {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .cite-sign {
    font-size: 20rem;
    line-height: 16rem;
  }
}

cite {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  grid-column: 2 / 3;
  line-height: 1.8rem;
}
@media screen and (min-width: 480px) {
  cite {
    font-size: 1.6rem;
    line-height: 2rem;
    width: 99%;
  }
}
@media screen and (min-width: 768px) {
  cite {
    color: #6a6a6a;
  }
}
@media screen and (min-width: 992px) {
  cite {
    font-size: 1.7rem;
    line-height: 3rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  cite {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 20px;
  }
}

.what-client-says-name-company {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  grid-column: 2 / 3;
  justify-self: start;
  margin-top: 15px;
}
@media screen and (min-width: 480px) {
  .what-client-says-name-company {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .what-client-says-name-company {
    color: #6a6a6a;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-name-company {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .what-client-says-name-company {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.what-client-says-small-pictures-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 60px 0 0 40px;
}
@media screen and (min-width: 992px) {
  .what-client-says-small-pictures-container {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin: 45px 0 0 0;
    width: 100%;
  }
}

.what-client-says-small-pictures-wrapper {
  height: 50px;
  margin: 0 30px 0 0;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
}
@media screen and (min-width: 480px) {
  .what-client-says-small-pictures-wrapper {
    height: 85px;
    margin: 0 45px 0 0;
    width: 85px;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-small-pictures-wrapper {
    height: 50px;
    margin: 0 30px 0 0;
    width: 50px;
  }
}

.what-client-says-picture {
  left: -10px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -10px;
  width: 150%;
}
@media screen and (min-width: 480px) {
  .what-client-says-picture {
    left: -15px;
    top: -20px;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-picture {
    left: -10px;
    top: -10px;
  }
}

@media screen and (min-width: 768px) {
  .what-client-says-black-triangle {
    background-color: #171717;
    height: 840px;
    position: absolute;
    right: -870px;
    top: -420px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 840px;
    z-index: -1;
  }
}
@media screen and (min-width: 992px) {
  .what-client-says-black-triangle {
    left: 90%;
  }
}

.get-in-touch {
  background-color: #171717;
  background: url("../img/get_in_touch_bg.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-gap: 30px 0;
  grid-template-columns: 1fr;
  overflow: hidden;
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  .get-in-touch {
    padding: 25px 5px 0;
  }
}
@media screen and (min-width: 992px) {
  .get-in-touch {
    padding: 90px 0 50px 0;
    grid-gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch {
    position: relative;
  }
}
.get-in-touch .sections-title {
  color: #9f9f9f;
  grid-column: 1 / -1;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .get-in-touch .sections-title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch .sections-title {
    font-size: 6.2rem;
    line-height: 5.4rem;
  }
}
.get-in-touch .sub-title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .get-in-touch .sub-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .get-in-touch .sub-title {
    font-size: 2.2rem;
  }
}
.get-in-touch .text {
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}
@media screen and (min-width: 480px) {
  .get-in-touch .text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .get-in-touch .text {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
}
.get-in-touch .red-triangle {
  background-color: #bc2e3a;
  bottom: -130px;
  display: none;
  height: 250px;
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 250px;
}

.get-in-touch-grid-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px 30px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .get-in-touch-grid-wrapper {
    grid-gap: 20px 30px;
  }
}
@media screen and (min-width: 768px) {
  .get-in-touch-grid-wrapper {
    grid-template-columns: repeat(6, auto);
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .get-in-touch-grid-wrapper {
    margin: 80px auto 110px;
  }
}
@media screen and (min-width: 1200px) {
  .get-in-touch-grid-wrapper {
    max-width: 1300px;
  }
}

.email-icon {
  height: 31px;
  justify-self: end;
  width: 40px;
}
@media screen and (min-width: 480px) {
  .email-icon {
    height: 39px;
    width: 50px;
  }
}
@media screen and (min-width: 768px) {
  .email-icon {
    grid-column: 1;
  }
}
@media screen and (min-width: 992px) {
  .email-icon {
    height: 42px;
    width: 54px;
  }
}

@media screen and (min-width: 768px) {
  .description-email-wrapper {
    grid-column: 2 / 3;
  }
}

.phone-icon {
  height: 44px;
  justify-self: end;
  width: 30px;
}
@media screen and (min-width: 480px) {
  .phone-icon {
    height: 50px;
    justify-self: center;
    width: 34px;
  }
}
@media screen and (min-width: 768px) {
  .phone-icon {
    justify-self: end;
  }
}
@media screen and (min-width: 992px) {
  .phone-icon {
    height: 53px;
    width: 36px;
  }
}

@media screen and (min-width: 768px) {
  .description-phone-wrapper {
    grid-column: 4 / 5;
  }
}

.office-icon {
  height: 41px;
  justify-self: end;
  width: 40px;
}
@media screen and (min-width: 480px) {
  .office-icon {
    height: 51px;
    width: 50px;
  }
}
@media screen and (min-width: 992px) {
  .office-icon {
    height: 54px;
    width: 52px;
  }
}

.social-media {
  border-bottom: 2px solid #6f6f6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 30px;
}
.social-media .fa {
  color: #fff;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .social-media .fa {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 480px) {
  .social-media {
    margin: 0 auto;
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .social-media {
    border-bottom: none;
    margin: 0 auto;
    max-width: 430px;
    padding: 0 0 40px 0;
  }
}

footer {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  grid-column: 1 / -1;
  padding: 0 30px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  footer {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 15px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    border-top: 2px solid #6f6f6e;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 675px;
  }
}

@media screen and (min-width: 1200px) {
  .get-in-touch-red-triangle {
    border-bottom: 175px solid #bc2e3a;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-top: 175px solid transparent;
    left: 80.5%;
    position: absolute;
    bottom: 0;
  }
}
