.get-in-touch {
  background-color: $black;
  background: url('../img/get_in_touch_bg.jpg') no-repeat; 
  background-size: cover;
  display: grid;
  grid-gap: 30px 0;
  grid-template-columns: 1fr;
  overflow: hidden;
  padding-top: 25px;
  
  @include mediaQueriesMin(768px) {
    padding: 25px 5px 0;
  }
  
  @include mediaQueriesMin(992px) {
    padding: 90px 0 50px 0;
    grid-gap: 0;
  }
  
  @include mediaQueriesMin(1200px) {
    position: relative;
  }
  
  .sections-title {
    color: $lightGray;
    grid-column: 1 / -1;
    text-align: center;
    
    @include mediaQueriesMin(480px) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
    
    @include mediaQueriesMin(1200px) {
      font-size: 6.2rem;
      line-height: 5.4rem;
    }
  }
  
  .sub-title {
    color: #fff;
    font-family: $textFont;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    
    @include mediaQueriesMin(480px) {
      font-size: 2rem;
    }
    
    @include mediaQueriesMin(992px) {
      font-size: 2.2rem;
    }
  }
  
  .text {
    color: #fff;
    display: block;
    font-family: $textFont;
    font-size: 1.4rem;
    line-height: 2rem;
    
    @include mediaQueriesMin(480px) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    
    @include mediaQueriesMin(992px) {
      font-size: 1.7rem;
      line-height: 2.4rem;
    }
  }
  
  .red-triangle {
    background-color: $red;
    bottom: -130px;
    display: none;
    height: 250px;
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    width: 250px;
  }
}

.get-in-touch-grid-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px 30px;
  margin: 0 auto;
  
  @include mediaQueriesMin(480px) {
    grid-gap: 20px 30px;
  }
  
  @include mediaQueriesMin(768px) {
    grid-template-columns: repeat(6, auto);
    width: 100%;
  }
  
  @include mediaQueriesMin(992px) {
    margin: 80px auto 110px;
  }
  
  @include mediaQueriesMin(1200px) {
    max-width: 1300px;
  }
}

.email-icon {
  height: 31px;
  justify-self: end;
  width: 40px;
  
  @include mediaQueriesMin(480px) {
    height: 39px;
    width: 50px;
  }
  
  @include mediaQueriesMin(768px) {
    grid-column: 1;
  }
  
  @include mediaQueriesMin(992px) {
    height: 42px;
    width: 54px;
  }
}

.description-email-wrapper {
  @include mediaQueriesMin(768px) {
    grid-column: 2 / 3;
  }
}

.phone-icon {
  height: 44px;
  justify-self: end;
  width: 30px;
  
  @include mediaQueriesMin(480px) {
    height: 50px;
    justify-self: center;
    width: 34px;
  }
  
  @include mediaQueriesMin(768px) {
    justify-self: end;
  }
  
  @include mediaQueriesMin(992px) {
    height: 53px;
    width: 36px;
  }
}

.description-phone-wrapper {
  @include mediaQueriesMin(768px) {
    grid-column: 4 / 5;
  }
}

.office-icon {
  height: 41px;
  justify-self: end; 
  width: 40px;
  
  @include mediaQueriesMin(480px) {
    height: 51px;
    width: 50px;
  }
  
  @include mediaQueriesMin(992px) {
    height: 54px;
    width: 52px;
  }
}

.social-media {
  border-bottom: 2px solid $veryLightGray;
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  padding: 0 10px 30px; 
  
  .fa {
    color: #fff;
    font-size: 2rem;
    
    @include mediaQueriesMin(992px) {
      font-size: 2.5rem;
    }
  }
  
  @include mediaQueriesMin(480px) {
    margin: 0 auto;
    width: 70%;
  }
  
  @include mediaQueriesMin(992px) {
    border-bottom: none;
    margin: 0 auto;
    max-width: 430px;
    padding: 0 0 40px 0;
  }
}

footer {
  color: #fff;
  font-family: $textFont;
  font-size: 1.4rem;
  grid-column: 1 / -1;
  padding: 0 30px;
  text-align: center;
  
  @include mediaQueriesMin(480px) {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 15px;
  }
  
  @include mediaQueriesMin(992px) {
    border-top: 2px solid $veryLightGray;
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 675px;
  }
}

.get-in-touch-red-triangle {
  @include mediaQueriesMin(1200px) {
    border-bottom: 175px solid $red;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-top: 175px solid transparent;
    left: 80.5%;
    position: absolute;
    bottom: 0;
  }
}