.our-creative-team {
  padding-top: 75px;
  position: relative;
  
  @include mediaQueriesMin(768px) {
    align-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: 50px auto 50px;
    justify-items: center;
    padding: 30px 30px;
  }
  
  @include mediaQueriesMin(992px) {
    grid-template-columns: 150px auto 150px;
    padding: 200px 0 100px;
  }
  
  @include mediaQueriesMin(1200px) {
    grid-template-columns: 1fr 12fr 1fr;
    padding: 315px 0 105px;
  }
  
  @include mediaQueriesMin(1600px) {
    grid-template-columns: 2fr 10fr 2fr;
    padding: 315px 0 105px;
  }
  
  .sections-title {
    color: $lightBlack;
    line-height: 4rem;
    text-align: center;
    
    @include mediaQueriesMin(480px) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
    
    @include mediaQueriesMin(768px) {
      grid-column: 2 / 3;
    }
    
    @include mediaQueriesMin(1200px) {
      font-size: 6.2rem;
      line-height: 5.4rem;
    }
  }
}

.our-creative-team-big-triangle {
  @include mediaQueriesMin(992px) {
    background-color: $black;
    grid-column: 1 / -1;
    height: 305px;
    left: -152px;
    position: absolute;
    top: -45px;
    transform: rotate(45deg);
    width: 305px;
  }
  
  @include mediaQueriesMin(1200px) {
    top: 55px;
  }
}

.slider-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150vw;
  justify-content: center;
  max-height: 580px;
  overflow: hidden;
  position: relative;
  
  @include mediaQueriesMin(480px) {
    justify-content: space-evenly;
  }
  
  @include mediaQueriesMin(768px) {
    flex-direction: row;
    height: 400px;
    overflow: visible;
    margin-top: 20px;
    width: 100%;
  }
  
  @include mediaQueriesMin(1200px) {
    height: 500px;
    justify-content: center;
    margin-top: 0;
    padding: 5px 55px 0;
  }
}

.slider-left-or-top-arrow {
  @include arrows;
  border-bottom: 35px solid #424240;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: none;
  cursor: pointer;
  margin: 35px auto 10px auto;
  
  @include mediaQueriesMin(768px) {
    border-bottom: 35px solid transparent;
    border-left: none;
    border-right: 35px solid #424240;
    border-top: 35px solid transparent;
    grid-column: 1 / 2;
    justify-self: end;
    margin: 0;
  }
  
  @include mediaQueriesMin(1200px) {
    border-bottom: 50px solid transparent;
    border-left: none;
    border-right: 50px solid #424240;
    border-top: 50px solid transparent;
    margin-left: -50px;
  }
}

.slider-picture-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: all .7s ease-in-out;
}

.left-top {
  opacity: .5;
  transform: translateY(-120%);
  z-index: 1;
  
  @include mediaQueriesMin(768px) {
    transform: translateX(-150%);
  }
}

.center {
  transform: translateY(0) scale(1.7);
  z-index: 2;
  
  @include mediaQueriesMin(768px) {
    transform: translateX(0) scale(1.7);
  }
  
  .slider-picture-name-box {
    @include mediaQueriesMin(1200px) {
      bottom: -32px;
      transform: skew(45deg) scale(1);
    }
  }
  
  .picture-wrapper{
    @include mediaQueriesMin(1200px) {
      height: 200px;
      width: 200px;
    }
  }
}

.right-bottom {
  opacity: .5;
  transform: translateY(120%);
  z-index: 1;
  
  @include mediaQueriesMin(768px) {
    transform: translateX(150%);
  }
}

.hide {
  opacity: 0;
  z-index: -1;
}

.picture-wrapper {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .2), -5px -5px 40px rgba(0, 0, 0, .2);
  border: 18px solid #fff;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(45deg);
  width: 130px;
  
  @include mediaQueriesMin(768px) {
    height: 130px;
    width: 130px;
  }
  
  @include mediaQueriesMin(992px) {
    height: 150px;
    width: 150px;
  }
  
  @include mediaQueriesMin(1200px) {
    height: 200px;
    width: 200px;
  }
}

.picture {
  left: -40px;
  position: absolute;
  top: -40px;
  transform: rotate(-45deg);
  width: 180%;
  
  @include mediaQueriesMin(768px) {
    left: -35px;
    top: -35px;
  }
  
  @include mediaQueriesMin(992px) {
    left: -35px;
    top: -35px;
  }
  
  @include mediaQueriesMin(1200px) {
    left: -49px;
    top: -47px;
  }
}

.slider-picture-name-box {
  background-color: #252525;
  height: 20px;
  margin: 0 auto;
  transform: skew(45deg);
  width: 100px;
  
  @include mediaQueriesMin(768px) {
    display: block;
  }
  
  @include mediaQueriesMin(1200px) {
    bottom: -32px;
    height: 38px;
    left: 20px;
    position: absolute;
    width: 180px;
  }
}

.slider-picture-name {
  color: #fff;
  font-family: $textFont;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  transform: skew(-45deg);
  
  @include mediaQueriesMin(1200px) {
    font-size: 1.8rem;
    line-height: 38px;
  }
}

.slider-picture-job-box {
  bottom: -11px;
  // display: none;
  height: 13px;
  background-color: $red;
  left: 47px;
  padding: 0 10px;
  position: absolute;
  transform: skew(45deg);
  
  @include mediaQueriesMin(1200px) {
    bottom: -45px;
    height: 17px;
    left: 75px;
    padding: 0 15px;
    width: auto;
  }
}

.slider-picture-job {
  color: #fff;
  font-family: $textFont;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  line-height: 1.2rem;
  text-align: center;
  transform: skew(-45deg);
  
  @include mediaQueriesMin(1200px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.slider-right-or-bottom-arrow {
  @include arrows;
  border-bottom: none;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #424240;
  cursor: pointer;
  margin: 10px auto 35px auto;
  
  @include mediaQueriesMin(768px) {
    border-bottom: 35px solid transparent;
    border-left: 35px solid #424240;
    border-right: none;
    border-top: 35px solid transparent;
    grid-column: 3 / 4;
    justify-self: start;
    margin: 0;
  }
  
  @include mediaQueriesMin(1200px) {
    border-bottom: 50px solid transparent;
    border-left: 50px solid #424240;
    border-right: none;
    border-top: 50px solid transparent;
    margin-right: -50px;
  }
}
