// COLORS
$black: #171717;
$lightBlack: #494949;
$veryLightBlack: #6a6a6a;
$lightGray: #9f9f9f;
$veryLightGray: #6f6f6e;
$red: #bc2e3a;

// FONTS
$textFont: 'Open Sans', sans-serif;
$headerFont: 'Lato', sans-serif;
$headerTitleFont: 'LemonMilkbold';
$who-we-areTitleFont: 'Peace Sans', sans-serif;
$cite: 'Pump Demi';