.what-client-says {
  background-color: $red;
  padding: 25px 20px 70px;
  position: relative;
  
  @include mediaQueriesMin(768px) {
    background-color: transparent;
    padding: 25px 70px 70px;
  }
  
  @include mediaQueriesMin(992px) {
    background-color: transparent;
    padding: 20px 100px 120px 150px;
  }
  
  @include mediaQueriesMin(1200px) {
    background-color: transparent;
    padding: 100px 100px 170px 220px;
  }
}

.what-client-says-red-triangle {
  @include mediaQueriesMin(768px) {
    background-color: $red;
    height: 685px;
    left: -550px;
    position: absolute;
    top: -37px;
    transform: rotate(45deg);
    width: 685px;
  }
  
  @include mediaQueriesMin(992px) {
    top: -23px;
  }
  
  @include mediaQueriesMin(1200px) {
    left: -345px;
    top: 77px;
    z-index: 1;
  }
}

.what-client-says-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 0 auto;
  
  @include mediaQueriesMin(768px) {
    max-width: 700px;
    position: relative;
  }
  
  @include mediaQueriesMin(992px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    max-width: 900px;
  }
  
  @include mediaQueriesMin(1200px) {
    justify-items: start;
    max-width: 1115px;
    z-index: 1;
  }
  
  .sections-title {
    color: #fff;
    grid-column: 1 / -1;
    line-height: 4rem;
    
    @include mediaQueriesMin(480px) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
    
    @include mediaQueriesMin(768px) {
      color: $lightBlack;
    }
    
    @include mediaQueriesMin(992px) {
      grid-row: 1 / 2;
      margin-bottom: 120px;
    }
    
    @include mediaQueriesMin(1200px) {
      font-size: 6.2rem;
      line-height: 5.4rem;
      text-align: left;
    }
  }
}

.what-client-says-picture-wrapper {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .2), -5px -5px 40px rgba(0, 0, 0, .2);
  border: 18px solid #fff;
  grid-column: 1 / -1;
  height: 180px;
  margin: 80px 0 60px 0;
  overflow: hidden;
  position: relative;
  transform: rotate(45deg);
  width: 180px;
  
  @include mediaQueriesMin(480px) {
    height: 250px;
    margin: 100px 0 90px 0;
    width: 250px;
  }
  
  @include mediaQueriesMin(992px) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 0;
  }
  
  @include mediaQueriesMin(1200px) {
    height: 295px;
    margin: 0;
    width: 295px;
  }
}

.what-client-says-big-picture {
  grid-column: 1 / -1;
  height: 220px;
  left: -40px;
  position: absolute;
  top: -40px;
  transform: rotate(-45deg);
  width: 220px;
  
  @include mediaQueriesMin(480px) {
    height: 310px;
    left: -45px;
    top: -45px;
    width: 310px;
  }
  
  @include mediaQueriesMin(1200px) {
    height: 365px;
    left: -53px;
    top: -53px;
    width: 365px;
  }
}

.cite-sign {
  color: $black;
  grid-column: 1 / 2;
  font-family: $cite;
  font-size: 10rem;
  height: 50px;
  line-height: 8rem;
  margin-left: -5px;
  
  @include mediaQueriesMin(480px) {
    font-size: 15rem;
    line-height: 11.7rem;
    margin-left: -10px;
  }
  
  @include mediaQueriesMin(768px) {
    color: $veryLightBlack;
  }
  
  @include mediaQueriesMin(992px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 60px;
  }
  
  @include mediaQueriesMin(1200px) {
    font-size: 20rem;
    line-height: 16rem;
  }
}

cite {
  color: #fff;
  font-family: $textFont;
  font-size: 1.4rem;
  grid-column: 2 / 3;
  line-height: 1.8rem;
  
  @include mediaQueriesMin(480px) {
    font-size: 1.6rem;
    line-height: 2rem;
    width: 99%;
  }
  
  @include mediaQueriesMin(768px) {
    color: $veryLightBlack;
  }
  
  @include mediaQueriesMin(992px) {
    font-size: 1.7rem;
    line-height: 3rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
  }
  
  @include mediaQueriesMin(1200px) {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 20px;
  }
}

.what-client-says-name-company {
  color: #fff;
  font-family: $textFont;
  font-size: 1.4rem;
  font-weight: bold;
  grid-column: 2 / 3;
  justify-self: start;
  margin-top: 15px;
  
  @include mediaQueriesMin(480px) {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  
  @include mediaQueriesMin(768px) {
    color: $veryLightBlack;
  }
  
  @include mediaQueriesMin(992px) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-top: 30px;
  }
  
  @include mediaQueriesMin(1200px) {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.what-client-says-small-pictures-container {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  justify-content: flex-start;
  margin: 60px 0 0 40px;
  
  @include mediaQueriesMin(992px) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin: 45px 0 0 0;
    width: 100%;
  }
}

.what-client-says-small-pictures-wrapper {
  cursor: pointer;
  height: 50px;
  margin: 0 30px 0 0;
  overflow: hidden;
  position: relative;
  transform: rotate(45deg);
  width: 50px;
  
  @include mediaQueriesMin(480px) {
    height: 85px;
    margin: 0 45px 0 0;
    width: 85px;
  }
  
  @include mediaQueriesMin(992px) {
    height: 50px;
    margin: 0 30px 0 0;
    width: 50px;
  }
}

.bordered {
  border: 4px solid #fff;
  
  @include mediaQueriesMin(480px) {
    border: 6px solid #fff;
  }
  
  @include mediaQueriesMin(768px) {
    border: 6px solid $red;
  }
  
  @include mediaQueriesMin(992px) {
    border: 4px solid $red;
  }
}

.what-client-says-picture {
  left: -10px;
  position: absolute;
  transform: rotate(-45deg);
  top: -10px;
  width: 150%;
  
  @include mediaQueriesMin(480px) {
    left: -15px;
    top: -20px;
  }
  
  @include mediaQueriesMin(992px) {
    left: -10px;
    top: -10px;
  }
}

.what-client-says-black-triangle {
  @include mediaQueriesMin(768px) {
    background-color: $black;
    height: 840px;
    position: absolute;
    right: -870px;
    top: -420px;
    transform: rotate(45deg);
    width: 840px;
    z-index: -1;
  }
  
  @include mediaQueriesMin(992px) {
    left: 90%;
  }
}